# Dependencies
/node_modules
/.pnp
.pnp.js

# Testing
/coverage
/test-results

# Production
/build

# Environment variables
.env
.env.*.local

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS-specific files
.DS_Store
Thumbs.db

# Editor and IDE files
.vscode/
.idea/
*.iml

# Miscellaneous
*.log
*.lock
*.cache
*.gz
*.tgz
*.swp

# Package manager files
package-lock.json
yarn.lock
pnpm-lock.yaml

# Temporary files
temp/
tmp/
~$*
